[user]
	name = Patrick Wozniak
	email = email@patwoz.de
	signingkey = D95105068BC8DA2C
[core]
	editor = lvim 
	pager = delta --dark
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	co = checkout
	ci = commit
	br = branch
	pushf = push --force-with-lease
  cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
  dff = difftool --no-symlinks --dir-diff
[commit]
	gpgsign = true
[github]
	username = patlux
[includeIf "gitdir:~/dev/dwins/"]
  path = ~/dev/dwins/.gitconfig
[includeIf "gitdir:~/dev/pdg/"]
  path = ~/dev/pdg/.gitconfig
[includeIf "gitdir:~/dev/mhp/"]
  path = ~/dev/mhp/.gitconfig
[includeIf "gitdir:~/dev/ibm/"]
  path = ~/dev/ibm/.gitconfig
[includeIf "gitdir:~/dev/sodefa/"]
  path = ~/dev/sodefa/.gitconfig
[includeIf "gitdir:~/dev/nordlb/"]
  path = ~/dev/nordlb/.gitconfig
[includeIf "gitdir:~/dev/sap/"]
  path = ~/dev/sap/.gitconfig
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	followTags = true
  autoSetupRemote = true
[init]
	defaultBranch = main
