# ---------------------------------------------------------------------------- #
#- BASH OPTIONS

set show-all-if-unmodified on


# ---------------------------------------------------------------------------- #
#- KEY BINDINGS

# invoke the manual for the written command:
"\eh": "\C-a\eb\ed\C-y\e#man \C-y\C-m\C-p\C-p\C-a\C-d\C-e"
