-- ------------------------------------------------------------------------ --
-- CONFIG
-- ------------------------------------------------------------------------ --

conky.config = {

  double_buffer = true,
  override_utf8_locale = true,
  update_interval = 1,

  -- window
  own_window_class = 'conky',
  own_window = true,
  own_window_type = 'desktop',
  own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',

  -- borders
  draw_borders = false,
  draw_graph_borders = false,

  -- format numbers
  use_spacer = 'left',
  pad_percents = 2,

  -- shadow
  draw_shades = false,
  default_shade_color = '000',

  -- background transparency
  own_window_transparent = true,
  own_window_argb_visual = true,
  own_window_argb_value = 128,

  if_up_strictness = 'address',
  cpu_avg_samples = 2,


  -- ------------------------------------------------------------------------ --
  -- POSITION

  alignment = 'top_left',
  gap_x = 0,
  gap_y = -8,
  minimum_width = 1920,
  minimum_height = 0,



  -- ------------------------------------------------------------------------ --
  -- Font

  use_xft = true,
  xftalpha = 0,
  font = 'Terminus:size=8',
  text_buffer_size = 256,
  override_utf8_locale = true,
  uppercase = true,



  -- ------------------------------------------------------------------------ --
  -- COLOR

  default_color = 'ffffff',
  -- blue color (archblue)
  color1 = '08c',
  -- divinder color
  color2 = '555',



  -- ------------------------------------------------------------------------ --
  -- TEMPLATES

  template0 = "${if_up \1}${color2} | ${color}Down/Up: ${color1}${downspeed \1}${color} / ${color1}${upspeed \1}${endif}",
  template1 = "${color1}${cpu}%",
  template2 = "${color1}${execpi 8 systemctl is-active pdnsd}"



}





-- ------------------------------------------------------------------------ --
-- TEXT
-- ------------------------------------------------------------------------ --

conky.text = [[

${alignc}\
\
${color1}$kernel\
${color2} | ${color}\
${color1}${uptime_short}\
${color2} | ${color}\
${template1 Core\ 0 Core\ 1}\
${color2} | ${color}\
${color1}${memperc}% ${color2}/${color1}${swapperc}%\
${color2} | ${color}\
${template2 pdnsd}\
${color2} | ${color}\
${color1}${texeci 21600 /home/patrick/.bin/wanip}\
]]
